@import "tailwindcss";

@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica/Geologica_Auto-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

html,
body,
#root {
  min-height: 100vh;

  font-family: Geologica, system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #1f1f1f;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
